version: '3.9'
services:
  db:
    image: 'postgres'
    ports:
      - '5432:5432'
    environment:
      POSTGRES_PASSWORD: 'password'
      POSTGRES_USER: 'postgres'
      POSTGRES_DB: 'tumblr'
  server:
    build:
      context: .
      target: prod
    depends_on:
      - db
    ports:
      - '4000:4000'